@import '../../styles/variables.scss';

.bio {
  margin-bottom: 24px;

  .author-description {
    display: flex;
  }

  .author-image {
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 0;
    min-width: 72px;
  }

  .author-name-prefix {
    font-size: 90%;
    margin-right: 4px;
  }

  .author-name-content {
    display: inline-block;
    font-size: 95%;
    padding: 2px 6px;
    font-weight: bolder;
    border-radius: 8px;
    transform-origin: center;
  }

  .author-introduction {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 80%;
    line-height: 1.4;
  }

  .author-socials {
    display: flex;
    margin-top: 4px;
    line-height: 25px;
    gap: 15px;
  }

  a {
    margin-right: 8px;
    font-size: 80%;
    transition: all 0.3s;
    will-change: transform; // 사파리에서 translate 끝난 후 1px 움직이는 현상 제거

    &.visited {
      text-decoration: none;
    }
  }
  a:hover {
    transform: translateY(-2px);
  }
}