@import '../../styles/variables.scss';

@media all and (min-width: 1000px) {
  .thumbnail {
    min-height: calc(30vh);
  }
}

@media all and (max-width: 1000px) {
  .thumbnail {
    min-height: calc(20vh);
  }
}

.thumbnail {
  display: block;
  padding: 4px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  transition: all 0.3s;
  border-radius: 20px;
  
  p {
    font-size: 90%;
    line-height: 1.4;
  }
  &:hover {
    box-shadow: 0 10px 0 1px #99999933;
    transform: translate(0, -5px);
  }
  &:active {
    box-shadow: none;
    transform: translate(0);
    transition: all 0s;
  }
  &.visible {
    opacity: 1;
  }
}