.switch-container {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    text-align: center;
    color: #222;
    font-size: 17px;
    font-weight: 900;
  }
}
